div > ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
	position: relative;
}

div:nth-of-type(3) > ul > li:nth-of-type(7){
	padding-left: 4em;
	text-indent: -1em;
}
div:nth-of-type(3) > ul > li:nth-of-type(8){
	padding-left: 2em;
	text-indent: -1em;
}

@supports ((display: inline-flex) and (transform:scale(1))){
	div{
		display: inline-flex;
		position: relative;
		flex-direction: row;
		flex-wrap: nowrap;
		flex-shrink: 0;
		padding: 1em;		
	}

	div > ul {
		padding-right: 0.5em;
	}
	
	div > ul > li {
		white-space: nowrap;
	}

	div > figure {
		margin: 0;
		padding: 0;
	}
	div > figure > img {
		width: .5em;
		height: 100%
	}
	div > figure > span {
		width: 1em;
		height: 100%
	}
	div > span:nth-of-type(1){
		display: flex;
  }
}

@supports ((display: inline-flex) and (transform:scale(1)) and (writing-mode: vertical-lr)){
	div > span:nth-of-type(1){
		writing-mode: vertical-rl;
    justify-content: center;		
		transform: scale(-1);
	}
}

@supports ((display: inline-flex) and (transform:scale(1)) and (not (writing-mode: vertical-lr))){
	div > span:nth-of-type(1){
		align-items: center;
		transform: rotate(-90deg);
		margin-left: -3.5em;
		margin-right: -3.5em;
	}
}

@supports (not ((display: inline-flex) and (transform:scale(1)))){
div {
  display: inline-block;
  padding-right: 1em;
}

div > figure {
  display: none;
}
div > span {
  padding-left: 1em;
}
}
