div.bracketed-list-with-label > ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

/* Must support flexbox and transform */
@supports ((display: inline-flex) and (transform:rotate(-90deg))){
	div.bracketed-list-with-label{
		display: inline-flex;
		padding: 1em;
		padding-right: 1.5em;
	}

	div.bracketed-list-with-label > span:nth-of-type(1){
		background-image: url(bracket.svg);
		background-size: cover;
		min-width: 0.5em;
		margin-left: .5em;
	}
	
	div.bracketed-list-with-label > span:nth-of-type(2){
		position: relative;
	}
	
	div.bracketed-list-with-label > span:nth-of-type(2) > span{		
		white-space: nowrap;
		position: absolute;
		top: 50%;
		right: 0;
		transform: translateY(-50%) translateX(50%) rotate(-90deg) translateY(.5em);		
	}

	/* Customize the width of bracket for larger lists */
	div.bracketed-list-with-label:nth-of-type(1) > span:nth-of-type(1){
		width: 1.25em;
	}

	div.bracketed-list-with-label:nth-of-type(2) > span:nth-of-type(1){
		width: 1.5em;
	}

	div.bracketed-list-with-label:nth-of-type(3) > span:nth-of-type(1){
		width: .75em;
	}

}

@supports (not ((display: inline-flex) and (transform:rotate(-90deg)))){
	div.bracketed-list-with-label {
		display: inline-block;
		padding: 1em;
		padding-right: 1.5em;
	}

	div.bracketed-list-with-label > span:nth-of-type(1){
		display: none;
	}
	div.bracketed-list-with-label > span:nth-of-type(2) {
        display: block;
        margin-top: 0.5em;
		padding-left: 2em;
		text-indent: -1em;
	}
}

div.bracketed-list-with-label:nth-of-type(3) > ul > li:nth-of-type(7){
	padding-left: 4em;
	text-indent: -1em;
}
div.bracketed-list-with-label:nth-of-type(3) > ul > li:nth-of-type(8){
	padding-left: 2em;
	text-indent: -1em;
}